* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root {
    --color-primary : #191d2b;
    --shadow : 0 3px 15px rgba(0, 0, 0, .4);
    --transition: all .4s ease-in-out;
    --color-secondary: rgba(255, 65, 46, 1);
    --icon-inactive: rgb(156, 156, 156);
    --icon-active: white;
    --text-color: white;
    --muted-text: grey;
}

body {
    font-family: 'Jost', sans-serif;
    background-color: var(--color-primary);
    font-size: 1.1rem;
    color: var(--text-color);
    transition: var(--transition);
}

a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

section {
    position: absolute;
    min-height: 100vh;
    left: 0;
    top: 0;
    width: 100%;
}

header {
    min-height: 100vh;
    color: var(--text-color);
    overflow: hidden;
    
}

.light--mode{
    --color-primary : white;
    --shadow : 0 3px 15px rgba(145, 145, 145, 0.4);
    --transition: all .4s ease-in-out;
    --color-secondary: rgba(255, 65, 46, 1);
    --icon-inactive: rgb(156, 156, 156);
    --icon-active: white;
    --text-color: black;
    --muted-text: rgb(116, 116, 116);
}

.section {
    transform: translateY(-100%) scale(0);
    transition: var(--transition);
    background-color: var(--color-primary);
}

.section--1 {
    display: none;
    transform: translateY(0) scale(1);
}

.section--2 {
    display: none;
    transform: translateY(0) scale(1);
    height: 100vh;
}

.section--3 {
    display: none;
    transform: translateY(0) scale(1);
    height: 100vh;
}

.section--4 {
    display: none;
    transform: translateY(0) scale(1);
    height: 100vh;
}

.section--5 {
    display: none;
    transform: translateY(0) scale(1);
    height: 100vh;
}

/* Controls */
.controls {
    position: fixed;
    z-index: 10;
    top: 50%;
    right: 3%;
    display: flex;
    flex-direction: column;
    transform: translateY(-50%);
    justify-content: center;
    align-items: center;
}

.controls .control {
    padding: 1rem;
    cursor: pointer;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;   
    margin: .7rem 0;
    box-shadow: var(--shadow);
}

.active {
    display: block;
    animation: scaleAnim 1s ease-in-out;
    @keyframes scaleAnim {
        0% {
            transform: translateY(-100%) scaleY(0)
        }
        100% {
            transform: translateY(0) scaleY(1)
        }
        
    }
}

.control > i{
    font-size: 1.2rem;
    color: var(--icon-inactive);
    pointer-events: none;
}

.active--btn{
    background-color: var(--color-secondary) !important;
    transition: var(--transition);
    i{
        color: var(--icon-active) !important;
    }
    
}

.controls .active--btn > i{
    background-color: var(--color-secondary) !important;
    transition: var(--transition);
    color: var(--icon-active);
}

.theme--button {
    bottom: 5%;
    right: 3%;
    position: fixed;
    cursor: pointer;
    background-color: var(--color-primary);
    box-shadow: var(--shadow);
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .7rem 0;
    transition: all .1s ease-in-out;
    &:active {
        transform: translateY(-5px);
    }
    i{
        font-size: 1.5rem;
        pointer-events: none;
        color: var(--icon-inactive);
    }
}

/* Header */
.header--content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
    padding-top: 5rem;
    .left--header {
        display: flex;
        align-items: center;
        position: relative;
        
        .image {
            border-radius: 15px;
            height: 90%;
            width: 68%;
            margin-left: 4rem;
            background-color: var(--color-primary);
            box-shadow: var(--shadow);
            transition: var(--transition);
            
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                top: 50%;
                left: 50%;
                border-radius: 15px;
            }
        }
    }

    .right--header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 12rem;
        .name{
            font-size: 3rem;
            span{
                color: var(--color-secondary);
            }
        }
        p{
            margin: 1.5rem 0;
            line-height: 2rem;
            color: var(--muted-text);
        }
    }

}

/* Profile */
.profile--container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 7rem 12rem 3rem 4rem;
    .right--profile{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
        .profile--item{
            border: 1px solid var(--muted-text);
            border-radius: 5px;
            transition: var(--transition);
            box-shadow: 1px 2px 15px rgba(0, 0, 0, .1);
            &:hover{
                cursor: default;
                transform: translateY(-5px);
                border: 3px solid --color-secondary;
                box-shadow: 1px 4px 15px rgba(0, 0, 0, .3);
            }
            .profile--text {
                padding: 1.5rem;
                display: flex;
                flex-direction: column;
                .large--text {
                    font-size: 3rem;
                    font-weight: 700;
                    color: var(--color-secondary);

                }
                .small--text {
                   padding-left: 3rem;
                   position: relative;
                   text-transform: uppercase;
                   font-size: 1.2rem;
                   color: var(--muted-text);
                   letter-spacing: 2px;
                   &::before{
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 15px;
                    width: 2rem;
                    height: 2px;
                    background-color: var(--muted-text);
                   } 
                }
            }
        }
    }
    .left--profile {
        padding-right: 5rem;
        p{
            line-height: 2rem;
            padding: 1rem 1rem 1rem 0;
            color: var(--muted-text);
        }
        h4 {
            font-size: 2rem;
            text-transform: uppercase;}
    }
}

.profile--stats {
    padding: 1rem 12rem 3rem 4rem;
    .progress--bars{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
        .progress--bar {
            display: flex;
            flex-direction: column;
            .progress--title {
                text-transform: uppercase;
                font-weight: 500;
            }
            .progress--container {
                display: flex;
                align-items: center;
                .progress--text {
                    color: var(--muted-text);
                }
                .progress {
                    width: 100%;
                    border-radius: 5px;
                    height: .45rem;
                    background-color: grey;
                    margin-left: 1rem;
                    position: relative;
                    span {
                        position: absolute;
                        border-radius: 5px;
                        top: 0;
                        left: 0;
                        height: 100%;
                        background-color: var(--color-secondary);
                        transition: var(--transition);
                        width: 90%;
                    }
                    .html {
                        width: 90%;
                    }
                    .css {
                        width: 70%;
                    }
                    .js {
                        width: 75%;
                    }
                    .dart {
                        width: 80%;
                    }
                    .flutter {
                        width: 90%;
                    }
                    .firebase {
                        width: 80%;
                    }
                    .react {
                        width: 80%;
                    }
                    .go {
                        width: 50%;
                    }
                }
            }
        }
    }
}
 
.timeline {
    padding: 1rem 12rem 3rem 4rem;
   .timeline--container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
        padding-left: 1.5rem;
        .timeline--item {
            position: relative;
            padding-left: 3rem;
            border-left: 1px solid var(--muted-text);
            
            .timeline--icon {
                position: absolute;
                left: -27px;
                top: 0;
                background-color: var(--color-secondary);
                width: 55px;
                height: 55px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                i {
                    color: var(--icon-active);
                    font-size: 1.3rem;
                }
            }
            .timeline--duration {
                padding: .3rem .6rem;
                font-size: .8rem;
                text-transform: uppercase;
                font-weight: 500;
                border-radius: 10px;
                display: inline-block;
                box-shadow: var(--shadow);
                color: var(--text-color);
            }
            h5 {
                padding: 1rem 0;
                text-transform: uppercase;
                font-size: 1.3rem;
                font-weight: 600;
                span {
                    color: var(--muted-text);
                    font-weight: 500;
                    font-size: 1.2rem;
                }
            }
            p {
                color: var(--muted-text);
            }
        }
   } 
    
}

/*Portfolio*/
.portfolios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    padding: 7rem 12rem 3rem 4rem;
    .portfolio--caption{   
        display: flex;
        align-items: center;
        p {
        font-size: 1.2rem;
        width: 100%;
        font-weight: 600;
        padding: .5rem 0;
        color: var(--muted-text);
        text-align: left;
        }
    }
    
    .portfolio--item {
        position: relative;
        img{
            width: 100%;
            height: 300px;
            object-fit: cover;
            border-radius: 15px;
            box-shadow: var(--shadow);
        }
        
        .portfolio--hover {
            width: 100%;
            height: 100%;
            background-color: var(--color-primary);
            box-shadow: var(--shadow);
            position: absolute;
            left: 0;
            top: 0;
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            opacity: 0;
            transform: scale(0);
            transition: var(--transition);
            h3 {
                font-size: 1.5rem;
                color: var(--text-color);
                margin-bottom: 1.5rem;
            }
            .icons {
                display: flex;
                justify-content: center;
                align-items: center;
                .icon {
                    background-color: var(--color-primary);
                    box-shadow: var(--shadow);
                    border-radius: 50%;
                    width: 55px;
                    height: 55px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0 1rem;
                    cursor: pointer;
                    transition: var(--transition);
                    i {
                        font-size: 1.5rem;
                        color: var(--icon-inactive);
                        margin: 0 1rem;
                    }
                    &:hover {
                        background-color: var(--color-primary);
                        transform: translateY(-5px);
                        i{
                            color: var(--color-secondary);
                        }
                    }
                }
            }
        }
    }
}

.portfolio--item:hover .portfolio--hover{
    opacity: 1;
    transform: scale(1);
    transform: translateY(-5px);
}

/*blogs section*/
.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    padding: 7rem 12rem 3rem 4rem;
    .blog--item{
        position: relative;
        img{
            width: 100%;
            height: 300px;
            object-fit: cover;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            box-shadow: var(--shadow);
        }
        &:hover {
            box-shadow: .5px 1px 15px rgba(0, 0, 0, .3);
            transform: translateY(-5px);
            transition: var(--transition);
            img {
                transform: scale(1.1);
                box-shadow: .5px 1px 15px rgba(0, 0, 0, .5);
                
            }
        }
    }
    .blog--caption{
        border-top: 8px solid var(--color-secondary);
        padding: 0 1rem;
        padding-bottom: 1rem;
        background-color: var(--color-primary);
        box-shadow: var(--shadow);
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
        align-items: center;
        h4 {
        color: var(--text-color);
        font-size: 1.2rem;
        width: 100%;
        font-weight: 600;
        padding: .5rem 0;
        text-align: left;
        cursor: pointer;
        &:hover {
            color: var(--color-secondary);
        }
        }
        p {
            font-size: 1rem;
            color: var(--icon-inactive);
        }
    }
}

/*contact*/
.contact--content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    padding: 7rem 12rem 3rem 4rem;
    .left--contact {
        flex: 2;
        .section--title {
            text-align: left;
            padding-bottom: 20px;
            h2 {
                font-size: 1.5rem;
                color: var(--color-secondary);
                padding-bottom: .5rem;
            }
            h4 {
                font-size: 1rem;
                color: var(--muted-text);
                padding-bottom: 0.5rem; 
            }
        }
        .info {
            width: 100%;
            i{
                font-size: 1.2rem;
                color: var(--icon-inactive);
                float: left;
                width: 44px;
                height: 44px;
                background: var(--color-primary);
                box-shadow: var(--shadow);
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 22px;
                transition: var(--transition);
                &:hover {
                    background: var(--color-secondary);
                    color: var(--icon-active);
                    transform: translateY(-3px);
                }
            }
            h4 {
                padding-left: 4rem;
                font-size: 1.5rem;
                font-weight: 600;
                padding-bottom: .4rem;
                color: var(--color-secondary);
            }
            p{
                padding-left: 4rem;
                padding-bottom: 1rem;
                font-size: 1rem;
                color: var(--muted-text);
            }
        }
        .social--links{
            padding-top: 1rem;
            a{
                font-size: 1.3rem;
                display: inline-flex;
                background: var(--color-primary);
                color: var(--icon-inactive);
                border-radius: 50%;
                width: 44px;
                box-shadow: var(--shadow);
                height: 44px;
                transition: var(--transition);
                margin-right: .5rem;
                align-items: center;
                justify-content: center;
                &:hover {
                    background: var(--color-secondary);
                    color: var(--icon-active);
                    transform: translateY(-3px);
                }
            } 
        }
    }
    .right--contact {
        flex: 3;
        .php-email-form {
            width: 100%;
            .form-group {
                padding-bottom: .5rem;
                .validate {
                    display: none;
                    color: #ff412e;
                    margin: 0 0 15px 0;
                    font-weight: 400;
                    font-size: 13px;
                }
                input {
                    height: 44px;
                }
                input, textarea {
                    border-radius: 15px;
                    box-shadow: var(--shadow);
                    font-size: inherit;
                    font-family: inherit;
                    border: 0;
                    padding: 10px 12px;
                    width: 100%;
                    color: var(--muted-text);
                    background-color: var(--color-primary);
                    :focus {
                        border-color: var(--color-secondary);
                        outline-color: var(--color-secondary);
                    }
                    :active {
                        border-color: var(--color-secondary);
                        outline-color: var(--color-secondary);
                    }
            
                }
                label {
                    color: var(--muted-text);
                    font-size: 1rem;
                    padding-bottom: .5rem;
                    font-weight: 600;
                    font-family: inherit;
                }
            }
            .i-c-2 {
                width: 100%;
                display: flex;
                :last-child {
                    width: 100%;
                    margin-left: 1rem;
                }
            }
            .error-message {
                display: none;
                color: #fff;
                background: #ed3c0d;
                text-align: left;
                padding: 15px;
                font-weight: 600;
                br + br {
                    margin-top: 25px;
                }
            }
            .sent-message {
                display: none;
                color: #fff;
                background: #18d26e;
                text-align: center;
                padding: 15px;
                font-weight: 600;
            }
            .loading {
                display: none;
                background: #fff;
                text-align: center;
                padding: 15px;
                &::before {
                    content: "";
                    display: inline-block;
                    border-radius: 50%;
                    width: 24px;
                    height: 24px;
                    margin: 0 10px -6px 0;
                    border: 3px solid #18d26e;
                    border-top-color: #eee;
                    -webkit-animation: animate-loading 1s linear infinite;
                    animation: animate-loading 1s linear infinite;
                }
            }
        }
    }
}
  
  @-webkit-keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

/*independent components*/
.button--container {
    display: flex;
    align-self: flex-start;
    .main--button {
        border-radius: 30px;
        color: inherit;
        font-weight: 600;
        position: relative;
        border: 1px solid var(--color-secondary);
        display: flex;
        align-self: flex-start;
        align-items: center;
        overflow: hidden;
        .button--text{
            padding: 0 2rem;
        }
        .button--icon {
            background-color: var(--color-secondary);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            padding: 1rem;
            color: var(--icon-active);
        }
        &::before{
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            transform: translateX(100%);
            transition: var(--transition);
            z-index: -1;
        }
        &:hover{
            &::before{
                width: 100%;
                height: 100%;
                background-color: var(--color-secondary);
                transform: translateX(0);
                transition: var(--transition);
            }
        }
    }
}

.main--container {
    display: flex;
    align-self: flex-start;
    position: fixed;
    top: 2% ;
    right: 3% ;
    justify-content: center;
    align-items: center;
    .main--title {
        border-radius: 30px;
        color: inherit;
        font-weight: 600;
        position: relative;
        box-shadow: var(--shadow);
        display: flex;
        align-self: flex-start;
        align-items: center;
        overflow: hidden;
        .main--text{
            padding: 0 2rem;
        }
        .main--icon {
            background-color: var(--color-secondary);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            padding: 1rem;
            color: var(--icon-active);
        }
    }
}

.stats--title {
    text-transform: uppercase;
    font-size: 2rem;
    text-align: left;
    padding-bottom: 1.5rem;
}


@import './media'