* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --color-primary: #191d2b;
  --shadow: 0 3px 15px rgba(0, 0, 0, .4);
  --transition: all .4s ease-in-out;
  --color-secondary: rgba(255, 65, 46, 1);
}

body {
  font-family: "Jost", sans-serif;
  background-color: var(--color-primary);
  font-size: 1.1rem;
  color: white;
  transition: var(--transition);
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

section {
  position: absolute;
  min-height: 100vh;
  left: 0;
  top: 0;
  width: 100%;
}

header {
  min-height: 100vh;
  color: white;
  overflow: hidden;
}

.section {
  transform: translateY(-100%) scale(0);
  transition: var(--transition);
  background-color: var(--color-primary);
}

.section--1 {
  display: none;
  transform: translateY(0) scale(1);
}

.section--2 {
  display: none;
  transform: translateY(0) scale(1);
  height: 100vh;
}

.section--3 {
  display: none;
  transform: translateY(0) scale(1);
}

.section--4 {
  display: none;
  transform: translateY(0) scale(1);
}

.section--5 {
  display: none;
  transform: translateY(0) scale(1);
}

/* Controls */
.controls {
  position: fixed;
  z-index: 10;
  top: 50%;
  right: 3%;
  display: flex;
  flex-direction: column;
  transform: translateY(-50%);
  justify-content: center;
  align-items: center;
}

.controls .control {
  padding: 1rem;
  cursor: pointer;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.7rem 0;
  box-shadow: var(--shadow);
}

.active {
  display: block;
  -webkit-animation: scaleAnim 1s ease-in-out;
          animation: scaleAnim 1s ease-in-out;
}
@-webkit-keyframes scaleAnim {
  0% {
    transform: translateY(-100%) scaleY(0);
  }
  100% {
    transform: translateY(0) scaleY(1);
  }
}
@keyframes scaleAnim {
  0% {
    transform: translateY(-100%) scaleY(0);
  }
  100% {
    transform: translateY(0) scaleY(1);
  }
}

.control > i {
  font-size: 1.2rem;
  color: rgb(156, 156, 156);
  pointer-events: none;
}

.controls .active--btn {
  background-color: var(--color-secondary) !important;
  transition: var(--transition);
}

.controls .active--btn > i {
  background-color: var(--color-secondary) !important;
  transition: var(--transition);
  color: white !important;
}

/* Header */
.header--content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
}
.header--content .left--header {
  display: flex;
  align-items: center;
  position: relative;
}
.header--content .left--header .image {
  border-radius: 15px;
  height: 90%;
  width: 68%;
  margin-left: 4rem;
  background-color: var(--color-primary);
  box-shadow: var(--shadow);
  transition: var(--transition);
}
.header--content .left--header .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 50%;
  left: 50%;
  border-radius: 15px;
}
.header--content .right--header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 12rem;
}
.header--content .right--header .name {
  font-size: 3rem;
}
.header--content .right--header .name span {
  color: var(--color-secondary);
}
.header--content .right--header p {
  margin: 1.5rem 0;
  line-height: 2rem;
  color: grey;
}

/* Profile */
.profile--container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 7rem 12rem 3rem 4rem;
}
.profile--container .right--profile {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}
.profile--container .right--profile .profile--item {
  border: 1px solid grey;
  border-radius: 5px;
  transition: var(--transition);
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.1);
}
.profile--container .right--profile .profile--item:hover {
  cursor: default;
  transform: translateY(-5px);
  border: 3px solid --color-secondary;
  box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.3);
}
.profile--container .right--profile .profile--item .profile--text {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}
.profile--container .right--profile .profile--item .profile--text .large--text {
  font-size: 3rem;
  font-weight: 700;
  color: var(--color-secondary);
}
.profile--container .right--profile .profile--item .profile--text .small--text {
  padding-left: 3rem;
  position: relative;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: grey;
  letter-spacing: 2px;
}
.profile--container .right--profile .profile--item .profile--text .small--text::before {
  content: "";
  position: absolute;
  left: 0;
  top: 15px;
  width: 2rem;
  height: 2px;
  background-color: grey;
}
.profile--container .left--profile {
  padding-right: 5rem;
}
.profile--container .left--profile p {
  line-height: 2rem;
  padding: 1rem;
  color: grey;
}
.profile--container .left--profile h4 {
  font-size: 2rem;
  text-transform: uppercase;
}

.profile--stats {
  padding: 1rem 12rem 3rem 4rem;
}
.profile--stats .progress--bars {
  display: grid;
  padding-left: 2rem;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}
.profile--stats .progress--bars .progress--bar {
  display: flex;
  flex-direction: column;
}
.profile--stats .progress--bars .progress--bar .progress--title {
  text-transform: uppercase;
  font-weight: 500;
}
.profile--stats .progress--bars .progress--bar .progress--container {
  display: flex;
  align-items: center;
}
.profile--stats .progress--bars .progress--bar .progress--container .progress--text {
  color: grey;
}
.profile--stats .progress--bars .progress--bar .progress--container .progress {
  width: 100%;
  border-radius: 5px;
  height: 0.45rem;
  background-color: grey;
  margin-left: 1rem;
  position: relative;
}
.profile--stats .progress--bars .progress--bar .progress--container .progress span {
  position: absolute;
  border-radius: 5px;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--color-secondary);
  transition: var(--transition);
  width: 90%;
}
.profile--stats .progress--bars .progress--bar .progress--container .progress .html {
  width: 90%;
}
.profile--stats .progress--bars .progress--bar .progress--container .progress .css {
  width: 70%;
}
.profile--stats .progress--bars .progress--bar .progress--container .progress .js {
  width: 75%;
}
.profile--stats .progress--bars .progress--bar .progress--container .progress .dart {
  width: 80%;
}
.profile--stats .progress--bars .progress--bar .progress--container .progress .flutter {
  width: 90%;
}
.profile--stats .progress--bars .progress--bar .progress--container .progress .firebase {
  width: 80%;
}
.profile--stats .progress--bars .progress--bar .progress--container .progress .react {
  width: 80%;
}
.profile--stats .progress--bars .progress--bar .progress--container .progress .go {
  width: 50%;
}

.timeline {
  padding: 1rem 12rem 3rem 4rem;
}
.timeline .timeline--container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  padding-left: 4rem;
}
.timeline .timeline--container .timeline--item {
  position: relative;
  padding-left: 3rem;
  border-left: 1px solid grey;
}
.timeline .timeline--container .timeline--item .timeline--icon {
  position: absolute;
  left: -27px;
  top: 0;
  background-color: var(--color-secondary);
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.timeline .timeline--container .timeline--item .timeline--icon i {
  font-size: 1.3rem;
}
.timeline .timeline--container .timeline--item .timeline--duration {
  padding: 0.2rem 0;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
}
.timeline .timeline--container .timeline--item h5 {
  padding: 1rem 0;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 600;
}
.timeline .timeline--container .timeline--item h5 span {
  color: grey;
  font-weight: 500;
  font-size: 1.2rem;
}
.timeline .timeline--container .timeline--item p {
  color: grey;
}

/*independent components*/
.button--container {
  display: flex;
  align-self: flex-start;
}
.button--container .main--button {
  border-radius: 30px;
  color: inherit;
  font-weight: 600;
  position: relative;
  border: 1px solid var(--color-secondary);
  display: flex;
  align-self: flex-start;
  align-items: center;
  overflow: hidden;
}
.button--container .main--button .button--text {
  padding: 0 2rem;
}
.button--container .main--button .button--icon {
  background-color: var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 1rem;
}
.button--container .main--button::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: var(--transition);
  z-index: -1;
}
.button--container .main--button:hover::before {
  width: 100%;
  height: 100%;
  background-color: var(--color-secondary);
  transform: translateX(0);
  transition: var(--transition);
}

.main--container {
  display: flex;
  align-self: flex-start;
  position: fixed;
  top: 2%;
  right: 3%;
  justify-content: center;
  align-items: center;
}
.main--container .main--title {
  border-radius: 30px;
  color: inherit;
  font-weight: 600;
  position: relative;
  box-shadow: var(--shadow);
  display: flex;
  align-self: flex-start;
  align-items: center;
  overflow: hidden;
}
.main--container .main--title .main--text {
  padding: 0 2rem;
}
.main--container .main--title .main--icon {
  background-color: var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 1rem;
}

.stats--title {
  text-transform: uppercase;
  font-size: 2rem;
  text-align: left;
  padding-bottom: 1.5rem;
}

@media screen and (max-width: 600px) {
  /* Home */
  header {
    padding: 0;
  }
  header .right--header {
    padding: 1rem !important;
  }
  .header--content {
    grid-template-columns: 1fr;
    padding-bottom: 6rem;
    padding-top: 6rem;
  }
  .right--header {
    width: 90%;
    margin: 0 auto;
  }
  .right--header .name {
    font-size: 2rem !important;
    text-align: center;
  }
  .header--content .left--header .image {
    margin: 0 auto;
    width: 90%;
  }
  /* Profile */
  .profile--container {
    grid-template-columns: 1fr;
    padding: 6rem 1.2rem 3rem 1.2rem;
  }
  .profile--container .right--profile {
    width: 90%;
    margin: 0 auto;
    padding-top: 2.5rem;
    grid-template-columns: 1fr;
  }
  .profile--container .left--profile {
    margin: 0 auto;
    width: 90%;
    padding-right: 0;
  }
  .profile--container .left--profile h4 {
    font-size: 1.5rem;
  }
  .profile--container .left--profile p {
    padding-right: 0;
  }
  .profile--stats {
    width: 90%;
    margin: 0 auto;
    padding: 0 1.2rem 3rem 1.2rem;
  }
  .profile--stats .progress--bars {
    padding-left: 1rem;
  }
  .stats--title {
    padding-bottom: 1rem;
    font-size: 1.5rem;
  }
  .timeline {
    margin: 0 auto;
    width: 90%;
    padding: 0 1rem 6rem 1rem;
  }
  .timeline .timeline--container {
    grid-template-columns: 1fr;
    padding-left: 3rem;
  }
  .timeline .timeline--container .timeline--item h5 {
    font-size: 1.1rem;
  }
  .timeline .timeline--container .timeline--item h5 span {
    font-size: 1rem;
  }
  .controls {
    top: auto;
    bottom: 0;
    flex-direction: row;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: #191d2b;
  }
  .controls .control {
    margin: 1rem 0.3rem;
  }
}/*# sourceMappingURL=index.css.map */